*.swp
*.un~
*.o
*.hi
*.errors
.netrwhist
xmonad-x86_64-linux
.VimballRecord
*.spl
.#*
\#*

# Ignore compiled emacs library files.
*.elc

fish_history

# Ignore lock files from editors.
\#*#

# Ignore emacs/vim swap files.
*~

# This is generated and maintained by cask, don't track it.
emacs.d/.cask/*
emacs.d/var/*

emacs.d/session.*

emacs.d/.emacs.desktop
emacs.d/recentf
emacs.d/elpa/*
emacs.d/auto-save-list/*
emacs.d/ac-comphist.dat
emacs.d/ido.last
emacs.d/projectile-bookmarks.eld
emacs.d/places
emacs.d/projectile.cache
emacs.d/quelpa/
emacs.d/roguel-ike-saves/
emacs.d/scratch.el
emacs.d/tramp
fish/fishd.*

company-statistics-cache.el

.stack-work

tags
emacs.d/commands
emacs.d/ede-projects.el
emacs.d/request/
emacs.d/semanticdb/
emacs.d/smex-items
emacs.d/srecode-map.el
emacs.d/vimish-fold/
