[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "cask"]
	path = cask
	url = git@github.com:cask/cask.git
[submodule "enhancd"]
	path = enhancd
	url = https://github.com/b4b4r07/enhancd.git
[submodule "marker"]
	path = marker
	url = https://github.com/pindexis/marker.git
